/* Updated Styles for Sign-In Form */

.sign-in-form {
    max-width: 400px;
    height: 450px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
    border: 1px solid #ccc;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    align-content: center;
  }
  .sign-in-background {
    background-image: url(''); /* Replace 'path_to_your_image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set the height of the background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Other styles for your form elements can be added here */
  /* Remember to adjust styles according to your layout and design requirements */
  
  .title {
    text-align: center;
    color: #36454f;
    margin-bottom: 60px;
    font-size: 40px;
  }
  
  .input-field {
    position: relative;
    margin-bottom: 25px;
  }
  
  .input-field i {
    position: absolute;
    
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
  }
  
  .input-field input {
    width: 100%;
    padding: 10px 30px 10px 40px;
    border: none; /* Removed border */
    border-radius: 15px; /* Updated border radius to 7.5px */
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Added box shadow */
  }
  
  .showps2 {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
    color: #888;
  }
  
  .btn {
    width: 100%;
    padding: 15px;
    background-color: #21313b;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  
    /* Added styles for the active state */
    transition: background-color 0.3s ease; /* Smooth transition effect */
  }
  
  .btn:active {
    background-color: #a9a9a9; /* Change button color when pressed */
  }
  