@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    background: white;
    padding-top: 80px;
  }
  
:root {
    --mainColor: #243b97;
    --mainColorLight: #5767aa;
    --secondaryColor: #00abf0;
    --textColor: #eee;
}
.headhead{
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
header {
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #192125;
    color: var(--textColor);
}
nav a {
    margin: 0 1rem;
    color: var(--textColor);
    text-decoration: none;
    margin-left: 60px;
}

nav a:hover {

    animation: normal;
    transition: 0.4s ease;
}
.navia:hover{
    color: var(--secondaryColor);
}

header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}
header .nav-btn:hover{
    color: var(--secondaryColor);
    animation: normal;
    transition: 0.4s ease;
}
header div,
nav {
    display: flex;
    align-items: center;
}

.imggg1{
    width: 200px;
}

.regsignout{
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 6px;
    margin-left:100px;
    background: #494844;
}
.regsignout:hover{

    text-decoration: none;
    background: transparent;
    animation: normal;
    transition: 0.4s ease;
}

@media only screen and (max-width: 1200px) {
    header .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    header nav {
        position: fixed;
        top: -100vh;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #221f2f;
        transition: 1s;
    }
    header nav::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100px;
        background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
        filter: blur(120px);
        z-index: -5;
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    nav .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a {
        font-size: 1.5rem;
    padding-right: 60px;
    }
    .regsignin{
        margin-right: 110px;

    }
    .regsignout{
        margin-right: 100px;
    }
}

@media(max-width: 1800px){
    .regsignout{
        font-size: 15px;
    }
    .regsignin{
        font-size: 15px;
    }
}
@media(max-width: 1335px){
    .regsignout{
        font-size: 12px;
    }
    .regsignin{
        font-size: 12px;
    }
    nav a {
        font-size: 12px;
    }
}
@media(max-width: 1210px){
    .regsignout{
        font-size: 11px;
    }
    .regsignin{
        font-size: 11px;
    }
    nav a {
        font-size: 12px;
    }
}
@media(max-width: 1198.5px){
    .regsignout{
        font-size: 20px;
    }
    .regsignin{
        font-size: 20px;
    }
    nav a {
        font-size: 20px;
    }
}
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background-color: #29343b;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #e8e9eb;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #e8e9eb;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #36454f;
}
.sidebar .nav-links li a:hover{
  background: #708090;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #e8e9eb;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #e8e9eb;
  min-height: 100vh;
 width: 100%;
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.home-section nav::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 60px;
  background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
  filter: blur(130px);
  z-index: 0;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  color: #21313b;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  z-index: 100;
}
.home-section nav .sidebar-button:hover{
    cursor: pointer;
    color: black;
  }
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: linear-gradient(95deg, #7e22ce 3.2%, #3b82f6 99.5%);
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #21313b;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #36454f;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 27px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales{
  width: 45%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    left: 220px;
    width: calc(100% - 220px);
    overflow: hidden;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
.profah31{
  text-align: center;
  color: white;

}
.profheader img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: solid;

}
.profheader{
  border: solid;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #221f2f;
}
.profheader1{
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.profh3{
  text-align: center;
  color: white;
}
.profp{
  text-align: center;
}
.profadata{
  margin-top: 10px;
}
.profap{
  border: solid;
  border-radius: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-left: 10px;
  background-color: #3f3c4e;
  color: white;
  padding-top: 20px;
  width: 100%;
  
}
.profap1{
  padding-left: 12px;
  font-size: 19px;
}
#licenserboard{
    width: 100%;
    
}

.licentable-container {
    margin: 20px;
  }
  
  .licentable {
    width: 100%;
    margin-top: 20px;
    
    border-color: white;
  }
  .licenpotd {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    color: black;
    border-radius: 10px;
    font-size: 11px;
  }

  .licenpoth {
    background:#333;
    height: 60px;
    color: white;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    font-size: 11px;
  }
  .liceform1{



  }
  .liceform2{
display: inline;
  }
  .licebtn1{
    cursor: pointer;
    border-radius: 16px;
    width: 50px;
    font-size: 12px;
    padding: 3px;
    background-color: red;
    margin-right: 5px;
  }
  .licebtn2{
    cursor: pointer;
    border-radius: 16px;
    width: 50px;
    font-size: 12px;
    padding: 3px;
    color: white;
    background-color: blue;
  }
  .licebtn1:hover{

  }
  .licebtn2:hover{

  }